# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @gssantos and @Christos-Hadjinikolis will be requested for
# review when someone opens a pull request.
*       @RaduG @Christos-Hadjinikolis