[flake8]
ignore = E203, E266, E501, W503, F403
per-file-ignores = 
    # F401: imported but unused
    # I252: Relative imports are banned
    __init__.py: F401, I252
    # Allow print() in cli.py and tests
    cli.py: T
    tests/*: T
exclude =
    .git,
    .circleci
    __pycache__,
    docs,
max-line-length = 185
max-complexity = 18
select = B,C,E,F,W,T,I,B

ban-relative-imports = true

import-order-style = edited
application-import-names = dynamicio, tests
ban-relative-imports=true