---
version: 2.1

jobs:
  style_checks:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.8.13
    steps:
      - checkout
      - run:
          name: "Remove .python-version file"
          command: |
            rm .python-version
      - run:
          name: "Install requirements"
          command: |
            pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
      - run:
          name: "Code Quality Check"
          command: |
            black dynamicio
            black tests
            flake8 --verbose dynamicio
            flake8 --verbose tests
            pylint -v dynamicio
            pylint -v tests
            yamllint -v dynamicio
            yamllint -v tests

  test_python_3_8:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.8.13
    steps:
      - checkout
      - run:
          name: "Remove .python-version file"
          command: |
            rm .python-version
      - run:
          name: "Install requirements"
          command: |
            pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
      - run:
          name: "Run Python Tests"
          command: |
            pytest --cache-clear --cov=dynamicio tests/

  test_python_3_9:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.9.13
    steps:
      - checkout
      - run:
          name: "Remove .python-version file"
          command: |
            rm .python-version
      - run:
          name: "Install requirements"
          command: |
            pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
      - run:
          name: "Run Python Tests"
          command: |
            pytest --cache-clear --cov=dynamicio tests/

  build_and_publish:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.8.13
    steps:
      - checkout
      - run:
          name: "Remove .python-version file"
          command: |
            rm .python-version
      - run:
          name: "Install build requirements"
          command: |
            pip install --upgrade pip
            pip install -r requirements-build.txt
      - run:
          name: "Publish"
          command: |
            pip install --upgrade twine
            twine check dist/*
            twine upload dist/*

workflows:
  version: 2
  main:
    jobs:
      - test_python_3_8:
          requires:
            - style_checks
          filters:
            tags:
              only: /v.*/
      - test_python_3_9:
          requires:
            - style_checks
          filters:
            tags:
              only: /v.*/
      - build_and_publish:
          requires:
            - test_python_3_8
            - test_python_3_9
          filters:
            tags:
              only: /v.*/
            branches:
              ignore: /.*/
